.blog-container {
  width: 100%;
  display: flex;
}

.blog-card-list {
  flex-basis: 65%;
  padding-right: 2rem;
}

.others {
  flex-basis: 35%;
}

.blog-card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-cards {
  width: 48%;
  height: 300px;
  margin-bottom: 4%;
  border-radius: 5px;
  position: relative;
  padding: 20px;
}

.blog-bg-style-1 {
  background-image: url("./images/blog-1.jpg");
  background-size: cover;
}

.blog-bg-style-2 {
  background-image: url("./images/blog-2.jpg");
  background-size: cover;
}

.blog-bg-style-3 {
  background-image: url("./images/blog-3.jpg");
  background-size: cover;
}

.blog-info {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.blog-s {
  color: red;
  font-size: 0.8rem;
  margin-top: 10px;
}

.others-icon {
  width: 60px;
  height: 65px;
  border-radius: 40px;
}
.blog-others-card {
  background-color: #23395d;
  width: 200px;
  height: 35vh;
  padding: 20px;
  text-align: center;
}
