.course-container {
  width: 100%;
  display: flex;
}

.course-content {
  width: 65%;
}

.course-bg-style-1 {
  background-image: url("./images/cat-1.jpg");
  background-size: cover;
}

.course-bg-style-2 {
  background-image: url("./images/cat-2.jpg");
  background-size: cover;
}

.course-bg-style-3 {
  background-image: url("./images/cat-3.jpg");
  background-size: cover;
}

.course-bg-style-4 {
  background-image: url("./images/cat-4.jpg");
  background-size: cover;
}

.course-bg-style-5 {
  background-image: url("./images/cat-5.jpg");
  background-size: cover;
}

.course-bg-style-6 {
  background-image: url("./images/cat-6.jpg");
  background-size: cover;
}

.course-bg-style-7 {
  background-image: url("./images/cat-7.jpg");
  background-size: cover;
}

.course-bg-style-8 {
  background-image: url("./images/cat-8.jpg");
  opacity: 1;
  background-size: cover;
}

.course-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-cards {
  width: 10rem;
  height: 5rem;
  margin-bottom: 2%;
  border-radius: 5px;
  position: relative;
}
