.course-container {
  width: 100%;
  display: flex;
}

.course-content {
  width: 65%;
}

.course-bg-style-1 {
  background-image: url("./images/cat-1.jpg");
  background-size: cover;
}

.course-bg-style-2 {
  background-image: url("./images/cat-2.jpg");
  background-size: cover;
}

.course-bg-style-3 {
  background-image: url("./images/cat-3.jpg");
  background-size: cover;
}

.course-bg-style-4 {
  background-image: url("./images/cat-4.jpg");
  background-size: cover;
}

.course-bg-style-5 {
  background-image: url("./images/cat-5.jpg");
  background-size: cover;
}

.course-bg-style-6 {
  background-image: url("./images/cat-6.jpg");
  background-size: cover;
}

.course-bg-style-7 {
  background-image: url("./images/cat-7.jpg");
  background-size: cover;
}

.course-bg-style-8 {
  background-image: url("./images/cat-8.jpg");
  opacity: 1;
  background-size: cover;
}

.course-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-cards {
  height: 7rem;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.course-card-list > .course-cards {
  width: 22%;
  margin-bottom: 4%;
}

.course-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  margin-bottom: 1.5rem;
}

hr.new1 {
  border-top: 1.5px solid #ccc;
}
