:root {
  --grey-bg: #f1f1f6;
  --border-color: #ccc;
  --blue-bg: #23395d;
  --color-white: #fff;
  --color--blue: #23395d;
}

div,
p,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-bg);
  padding: 1rem;
  border: 1px solid var(--border-color);
}
.header-item {
  display: flex;
  align-items: center;
}

header > .header-item {
  flex-basis: 25%;
}

.custom-fs-7 {
  font-size: 0.75rem;
}

.fa-orange {
  color: darkorange;
}

.header-links {
  list-style-type: none;
}

.description {
  color: #707070;
}

.nav-item {
  color: darkorange;
}

.btn-orange {
  background-color: darkorange;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 12px;
  width: 100px;
}

.btn-nav {
  background-color: var(--grey-bg);
  border: none;
  width: 200px;
  height: 50px;
  text-align: left;
  display: flex;
  align-items: center;
}
h4 {
  font-size: 12px;
  color: darkorange;
  font-weight: 600;
}

.custom-fs-7-footer {
  color: #f1f1f6;
}

footer {
  background-color: var(--blue-bg);
}

ul > li {
  list-style: none;
}

.icon-wrapper {
  border: 1px solid var(--color-white);
  border-radius: 6px;
  padding: 5px;
}

.content {
  width: 40%;
  margin: 100px auto;
  text-align: center;
}

.form-container {
  padding: 2rem;
  background-color: #f1f1f6;
}

.custom-btn-orange {
  --bs-btn-bg: darkorange;
  --bs-btn-color: #fff;
  --bs-btn-font-size: 0.8rem;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-hover-bg: darkorange;
  --bs-btn-hover-border-color: darkorange;
  --bs-btn-hover-color: #fff;
}

.heading {
  color: darkorange;
}

h2 {
  color: black;
  font-weight: 600;
}

hr {
  width: 100%;
  color: white;
}

.banner {
  position: relative;
}
.banner > img {
  width: 100%;
}
.banner-heading {
  position: absolute;
  left: 100px;
  top: 100px;
  color: #fff;
  size: 25px;
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: space-between;
}
.card {
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f6;
  margin-right: 20px;
}
.teachers-heading {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.text-bg-orange {
  background-color: darkorange;
}
